<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app ng-style="myStyle">

    <div id="color">
        <input type="button" value="Red" ng-click="myStyle={'background-color':'red'}">
        <input type="button" value="Blue" ng-click="myStyle={'background-color':'blue'}">
    </div>
    

    <script src="angular.js"></script>
    <!-- <script src="color.js"></script> -->
</body>
</html>