*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #72A0C1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 4rem;
}

h2,
form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    border: none;
}

.todos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todolist {
    min-width: 10%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background-color: whitesmoke;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li {
    flex: 1;
}
